<app-header (refresh)="refreshData($event)"></app-header>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker" >
    <input matStartDate placeholder="Start date" [(ngModel)]="start"  >
    <input matEndDate placeholder="End date" [(ngModel)]="end" >
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker>
    <mat-date-range-picker-actions>
      <button mat-button matDateRangePickerCancel>Cancel</button>
      <button mat-raised-button color="primary" matDateRangePickerApply (click)="onSubmit(start, end)">Apply</button>
    </mat-date-range-picker-actions>
  </mat-date-range-picker>
</mat-form-field>



<div class="container">
<div id="shelter-main-data">
  <div id="shelter-name-container" class="shelter-name-container">
    <div>
      <a href="{{shelterData?.shelterLink}}">{{shelterData?.name}}</a>
      <p *ngIf="activeAnimalCount">
        <span style="font-weight: bold">Adoptable animals imported:</span> {{activeAnimalCount}}
      </p>
    </div>
  </div>
  <hr>
  <div id="details-id" style="font-size:2vw;">
    <div>Visitors: {{shelterData?.visitors}}</div>
    <div>Address: {{shelterData?.shelterAddress?.address1}}</div>
    <div>City: {{shelterData?.shelterAddress?.city}}</div>
    <div>Country: {{shelterData?.shelterAddress?.country}}</div>
    <div>Postal code: {{shelterData?.shelterAddress?.postcode}}</div>
  </div>
</div>
<div id="treat-data-id" style="padding-left: 9%; padding-right: 9%; margin-top: 3%; font-size:2vw;">
  <div *ngIf="shelterUpcomingData" style="display: inline; float: left">
    <h1 style="font-size:2vw;">Upcoming items</h1>
    <p>Treats: {{shelterUpcomingData?.treats}}</p>
    <p>Meals: {{shelterUpcomingData?.meals}}</p>
    <p>Toys: {{shelterUpcomingData?.toys}}</p>
    <p>Food grains: {{shelterUpcomingData?.foodGrains}}</p>
  </div>

  <div *ngIf="shelterSentData" style="display: inline; float: right">
    <h1 style="font-size:2vw;">Sent items</h1>
    <p>Treats: {{shelterSentData?.treats}}</p>
    <p>Meals: {{shelterSentData?.meals}}</p>
    <p>Toys: {{shelterSentData?.toys}}</p>
    <p>Food grains: {{shelterSentData?.foodGrains}}</p>
  </div>
</div>
</div>
